@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@1,500&display=swap');

html{
    height: 100%;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    background-color: transparent;
    border-bottom: 0.5px solid #ffffff60;
    width: 1005;
    padding: 10px 0 0 0;
    top:0;
    z-index:100;
    line-height: 50px;
}
.inner-with{
    max-width:1300px;
    margin: auto;
    padding: 0 80px;
}
.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space=between;
}
.log i{
    font-size:45px;
    line-height:40px;
    color: rgba(255,255,255,0.9);
    cursor: pointer;
    padding-top: 10px;
}
.navbar-menu a{
    color: #fff;
    font-size:13px;
    font-weight: 500;
    font-family: 'Bodoni Moda', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 35;
    display: inline-block;
}
.navbar-menu a:hover{
    color:#c6e2ff;
    font-weight: 700;
}
#home{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0,0.5)), url("https://images.unsplash.com/photo-1557822477-ec8d8bbbcd2a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
#home.content{
    color: #fff;
    padding-left:40px;
    text-align: left;
    width: 600px;
}
.content h1{
    font-size:55px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 6px;
    margin-bottom: 20px;
    font-family: 'Bodoni Moda', serif;
}
.content p{
    font-size: 15px;
    line-height: 25px;
    font-weight:500;
    letter-spacing:1.5px;
    font-family:'Bodoni Moda', serif;
}
.content button{
    padding: 15px 25px;
    margin-top: 20px;
    background:#c6e2ff;
    border-radius: 30px;
    border: none;
    color:#fff;
    font-size:17px;
    font-weight:900;
    letter-spacing: 2px;
    font-family: 'Bodoni Moda', serif;
    outline: none;
    cursor:pointer;
    text-transform:uppercase;
    transition: 0.3s;
}
#home .content button:hover{
    background-color:#fff;
    color: #000;
    font-weight:900;
}
.social-container{
    position: absolute;
    right:40px;
    bottom:30%;
}
.social-icons{
    list-style: none;
}
.social-icons li{
    margin: 35px 0;
}
.social-icons li i{
    color: #fff;
    font-size:20px;
}
.social-icons li a:hover i{
    transform: scale(1.5);
    color:#c6e2ff;
    transition: all 0.2s ease-in-out;
}